.page-container {
    width: 800px;
    margin: auto;
    margin-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-container img {
    width: 500px;
}